@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #0C0D15;

}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);

} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0D15;
    --foreground: #ededed;
  }
} */

body {
  background: #0C0D15;
  color: var(--foreground);
}

.bg-homepage-hero {
  background-image: url(../assets/hero-bg-408.webp);
  background-size: auto 100%;
  width: 100%;
  background-position: center top -20px;
  background-repeat: no-repeat;
}

.bg-homepage-about {
  background-image: url(../assets/grid.png);
  background-repeat: no-repeat;
}

.gradient_text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(50% 108% at 50% 0, #ecfbff 5%, #a8b8e6 35%, #b0b0d2 62%, transparent 100%);
  background-color: #676784;
}

/* Marquee animation */
.container-marquee::before,
.container-marquee::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 10;
}

.container-marquee::before {
  left: 0;
  background: linear-gradient(to right, rgba(12, 13, 21, 1), rgba(12, 13, 21, 0));
}

.container-marquee::after {
  right: 0;
  background: linear-gradient(to left, rgba(12, 13, 21, 1), rgba(12, 13, 21, 0));
}

.marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.avatar-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 100px;
  /* Altura do degradê */
  z-index: 1;
  background: linear-gradient(to top, rgba(12, 12, 20, 1) 40%, rgba(12, 12, 20, 0) 100%);
}

.swiper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1px;
  width: 8%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to left, #0c0d15 40%, #0c0c1400 100%);
}